

@media only screen and (max-width: 768px) {
  img#logo-nav {
    max-height: 50px;
    max-width: 100%;
    width: auto;
    height: auto;
  }
 }

@media screen and (min-width: 320px) and (max-width:580px) {
    img#logo-nav {
      max-height: 50px;
      max-width: 100%;
      width: auto;
      height: auto;
    }

  .aqua.ml-5 {
    margin-left: 0rem !important;
  }
  .animate-in-left.out-of-viewport {
    opacity: 1;
    left: 0%;
  }
  nav#header {
      width: -webkit-fill-available;
  }
  html,body
 {
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
     position: absolute;
 }
  .navbar-ontop {
      background-color: black !important;
  }

}
