

@media only screen and (max-width: 768px) {
  img#logo-nav {
    max-height: 50px;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .footer_img{
    max-height: 50px !important;
    max-width: 100% !important;
    width: auto;
    height: auto;
  }

 }

@media screen and (min-width: 320px) and (max-width:580px) {
      b#inside-box {
        font-size: 40px !important;
    }

    .center-table-element {
      width: 86% !important;
    }

    p.m-2.mx-5.text-center {
    padding-bottom: 50px !important;
  }

    img#logo-nav {
      max-height: 50px;
      max-width: 100%;
      width: auto;
      height: auto;
    }

  .aqua.ml-5 {
    margin-left: 0rem !important;
  }
  .animate-in-left.out-of-viewport {
    opacity: 1;
    left: 0%;
  }
  nav#header {
      width: -webkit-fill-available;
  }
  html,body
 {
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
     position: absolute;
 }
 button.btn.rounded-0 {
   background: #3cc1c6;
  }
  a.nav-link {
    color: white;
}
img#logo-sp {
    width: unset;
}


span.icona-lupa.my-3, span.icona-papel.my-3, span.icona-dedo.my-3 {
    font-size: 200px !important;
    /* font-size: 300px; */
}

.center-table-element {
    width: 110%;
    height: 240px;
}

p.m-2.mx-5.text-center {

}

h1#rowo-child{
  font-size: 130% !important;
  font-family: HKGrotesk !important;
  vertical-align: middle;
  /* display: table-cell; */
  height: 50px;
  text-align: center;
}
i.icona-libro.text-primary.mr-2 {
  display: table-cell;
}
i.icona-calendario.text-primary.mr-2 {
    display: table-cell;
}

i.icona-salvavidas.text-primary.mr-2 {
    display: table-cell;
}

  #inside-box {
      font-size: medium;
  }

  .display-4 {
    font-size: 2.0rem !important;
    font-weight: 300;
    line-height: 1.2;
  }

  a.btn.btn-outline-primary.mt-4 {
    font-size: larger !important;
    background: #00b3a3;
    color: aliceblue;
}

#saporo{
    padding: .5rem !important;
}

li.list-group-item {
    text-align: -webkit-center !important;
}

i.icona-libro, i.icona-calendario, i.icona-salvavidas {
    font-size: 100px;
    position: initial !important;
    top: 30px;
}

ul.list-group.list-group-flush {
    margin-left: 0rem !important;
}
}
