<table class="margin-top">
  <tbody>
    <% @grouped_votes.each do |type, group| %>
      <thead id="vote_type_<%= type.downcase %>">
        <th scope="col">
          <%= t("users.show.#{type.downcase}_votes")%>
        </th>
        <th scope="col">
          <%= t("users.show.votes_created_at")%>
        </th>
      </thead>
      <%= render "users/votes/#{type.downcase.pluralize}", votes: group %>
    <% end %>
  </tbody>
</table>
