<style media="screen">
  body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

  .rowo{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md-9.col-lg-8.align-items-start.d-flex.ml-4 {
    padding: 40px;
  }
  .mb-5.flex-center {
    padding-top: 40px;
  }
</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Conference Aquamarine - Pingendo template</title>
  <meta name="description" content="Free Bootstrap 4 Pingendo Aquamarine template for unique events.">
  <meta name="keywords" content="Pingendo conference event aquamarine free template bootstrap 4">
  <!-- CSS dependencies -->
  <!-- link rel="stylesheet" href="/portal/css/aquamarine.css" -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="/portal/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="/portal/js/animate-in.js"></script>
</head>

  <!-- Cover -->
  <div class="d-flex align-items-center text-center section-aquamarine py-5 cover" style="background-image: url(&quot;custom_images/cover.jpg&quot;);">
    <div class="aqua">
      <div class="rowo">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-2 d-none d-md-block">TAGLINE<br></h1>
          <h1 class="display-4 d-block d-md-none">Conference Pingendo</h1>
          <p class="">CALL TO ACTION //DECIDE EN QUÉ GASTAR EL DINERO DE TU CIUDAD </p>
          <a href="#instrucciones" class="btn btn-lg mt-4 btn-outline-light">PARTICIPA</a><i class="d-block fa fa-angle-down pt-5 fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark aqua-fluid py-3 pb-5 text-center" style="	height: 43px;">
    <div class="rowo">
      <div class="mx-auto col-md-12">
        <h1>¿QUÉ ES DECIDE SP?</h1>
      </div>
    </div>
  </div>
  <!-- Parallax section -->
  <!-- Speakers -->
  <div class="bg-light py-1  text-center" id="speakers">
    <div class="aqua-fluid">
      <div class="rowo">
        <div class="col-md-12 m-0 mx-0">
          <p contenteditable="true" class="lead m-4 mx-5">El Programa de Presupuesto Participativo del Municipio es el instrumento de participación ciudadana a través del cual los ciudadanos del Municipio, de manera organizada y corresponsable, deciden el destino de una parte del Presupuesto de Egresos del Municipio.</p>
        </div>
      </div>
      <div class="rowo">
        <div class="col-6 col-lg-4 animate-in-left">
          <a href="#">
            <img src="custom_images/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>&lt;PROPUESTAS&gt;</b></h3>
            <p class="m-2 mx-5 text-center">&lt;Lorem ipsum dolor sit amet, consectetur adipiscing eli consectetur adipiscing eli.t&gt;</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-left">
          <a href="#">
            <img src="custom_images/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>&lt;APOYO&gt;</b></h3>
            <p class="m-2 mx-5 text-center">&lt;Lorem ipsum dolor sit amet, consectetur adipiscing eli consectetur adipiscing eli.t&gt;</p>
          </a>
        </div>
        <div class="col-6 col-lg-4 animate-in-left">
          <a href="#">
            <img src="custom_images/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
            <h3 class="mb-0"><b>&lt;DECIDE&gt;</b></h3>
            <p class="m-2 mx-5 text-center">&lt;Lorem ipsum dolor sit amet, consectetur adipiscing eli consectetur adipiscing eli.t&gt;</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Schedule -->
  <div id="instrucciones" class="py-5 text-center " style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;">
    <div class="aqua">
      <div class="row">
        <div class="bg-white p-5 mx-auto col-md-8 col-10">
          <h1>¿CÓMO PARTICIPAR?</h1>
          <ol class="" type="I">
            <li class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          </ol> <a class="btn btn-outline-primary mt-4" href="#">PARTICIPA<br></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsor logos -->
  <div class="py-5 text-center text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="aqua">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="mb-3">GUÍA PARA EL CIUDADANO</h1>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/ctvlUvN6wSE?controls=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CONOCE MAS -->
  <div class="bg-dark aqua-fluid py-3 pb-5 text-center" style="	height: 43px;">
    <div class="rowo">
      <div class="mx-auto col-md-12">
        <h1 contenteditable="true">CONOCE MÁS</h1>
      </div>
    </div>
  </div>
  <div class="py-5 section bg-faded bg-light text-center">
    <div class="aqua">
      <div class="rowo">
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="custom_images/logo_1.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="custom_images/logo_1.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="custom_images/logo_1.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="custom_images/logo_1.png"> </div>
      </div>
    </div>
  </div>
  <!-- Call to action -->
  <div class="section-aquamarine py-3 mr-auto" id="register">
    <div class="aqua ml-5">
      <div class="rowo">
        <div class="col-md-12 text-md-left text-center">
          <h3 class="text-white">Sobre Decide San Pedro</h3>
          <h4>Participa</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="text-md-left text-center bg-dark text-light">
    <div class="rowo">
      <div class="col-md-9 col-lg-8 align-items-start d-flex ml-4">
        <h3>DECIDE SAN PEDRO<br></h3>
      </div>
      <div class="ml-0 col-lg-3" >
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="icon-facebook white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="icon-twitter white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!-- Github -->
          <a class="tw-ic">
            <i class="icon-instagram white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="/portal/js/smooth-scroll.js" style=""></script>
