<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      <%= t("pages.help.budgets.title") %>
    </h3>
    <p>
      Decide San Pedro 2019 es una plataforma de participación ciudadana</br>
      Esta guía explica para qué sirven y cómo funcionan cada una de las secciones de Decide San Pedro 2019.
    </p>

    <p>
      Presupuestos participativos</br>
      La sección de presupuestos participativos sirve para conocer los montos disponibles para cada junta de vecinos, y para cada sector. En esta sección también puedes conocer las propuestas que han registrado tus vecinos y vecinas que la gente decida de manera directa a qué se destina una parte del presupuesto municipal.
    </p>

    <p>
      Para obtener tu clave catastral:</br>
      Revisa tu comprobante de pago del predial, o envía un correo a
      <a href="mailto:edgar.gutierrez@sanpedro.gob.mx?subject=Soporte%20San%20Pedro">edgar.gutierrez@sanpedro.gob.mx</a>.
    </p>

  </div>
</div>
