<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      <%= t("pages.help.budgets.title") %>
    </h3>
    <p>
      <%= t("pages.help.budgets.description",
           link: link_to(t("pages.help.budgets.link"), budgets_path)).html_safe %>
    </p>

    <p>
      Decide San Pedro 2019 es una plataforma de participación ciudadana
      Esta guía explica para qué sirven y cómo funcionan cada una de las secciones de Decide San Pedro 2019.

      Presupuestos participativos
      La sección de presupuestos participativos sirve para conocer los montos disponibles para cada junta de vecinos, y para cada sector. En esta sección también puedes conocer las propuestas que han registrado tus vecinos y vecinas que la gente decida de manera directa a qué se destina una parte del presupuesto municipal.

      Para obtener tu clave catastral:
      Revisa tu comprobante de pago del predial, o envía un correo a [edgar.gutierrez@sanpedro.gob.mx](mailto:edgar.gutierrez@sanpedro.gob.mx)

      ¿Problemas técnicos?
      Lee las preguntas frecuentes y resuelve tus dudas.
      Llama al Centro de Atención de presupuesto participativo al 84782059
</p>

    <figure>
      <%= image_tag "help/budgets_#{I18n.locale}.png", alt: t("pages.help.budgets.image_alt") %>
      <figcaption><%= t("pages.help.budgets.figcaption_html") %></figcaption>
    </figure>
  </div>
</div>
