// Fonts
//
// 01. Source Sans Pro (https://www.google.com/fonts/specimen/Source+Sans+Pro)
// 02. Lato (https://www.google.com/fonts/specimen/Lato)
//

// 01. Source Sans Pro
// - - - - - - - - - - - - - - - - - - - - - - - - -

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: font-url('sourcesanspro-light-webfont.eot');
  src: font-url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('sourcesanspro-light-webfont.woff2') format('woff2'),
       font-url('sourcesanspro-light-webfont.woff') format('woff'),
       font-url('sourcesanspro-light-webfont.ttf') format('truetype'),
       font-url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: font-url('sourcesanspro-regular-webfont.eot');
  src: font-url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('sourcesanspro-regular-webfont.woff2') format('woff2'),
       font-url('sourcesanspro-regular-webfont.woff') format('woff'),
       font-url('sourcesanspro-regular-webfont.ttf') format('truetype'),
       font-url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: font-url('sourcesanspro-italic-webfont.eot');
  src: font-url('sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('sourcesanspro-italic-webfont.woff2') format('woff2'),
       font-url('sourcesanspro-italic-webfont.woff') format('woff'),
       font-url('sourcesanspro-italic-webfont.ttf') format('truetype'),
       font-url('sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: font-url('sourcesanspro-bold-webfont.eot');
  src: font-url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('sourcesanspro-bold-webfont.woff2') format('woff2'),
       font-url('sourcesanspro-bold-webfont.woff') format('woff'),
       font-url('sourcesanspro-bold-webfont.ttf') format('truetype'),
       font-url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
}

// 02. Lato
// - - - - - - - - - - - - - - - - - - - - - - - - -

@font-face {
  font-family: 'Lato';
  src: font-url('lato-light.eot');
  src: font-url('lato-light.eot?#iefix') format('embedded-opentype'),
       font-url('lato-light.woff2') format('woff2'),
       font-url('lato-light.woff') format('woff'),
       font-url('lato-light.ttf') format('truetype'),
       font-url('lato-light.svg#latolight') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: font-url('lato-regular.eot');
  src: font-url('lato-regular.eot?#iefix') format('embedded-opentype'),
       font-url('lato-regular.woff2') format('woff2'),
       font-url('lato-regular.woff') format('woff'),
       font-url('lato-regular.ttf') format('truetype'),
       font-url('lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: font-url('lato-bold.eot');
  src: font-url('lato-bold.eot?#iefix') format('embedded-opentype'),
       font-url('lato-bold.woff2') format('woff2'),
       font-url('lato-bold.woff') format('woff'),
       font-url('lato-bold.ttf') format('truetype'),
       font-url('lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: font-url('HKGrotesk-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-BoldLegacy';
  src: font-url('HKGrotesk-BoldLegacy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Light';
  src: font-url('HKGrotesk-Light.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HKGrotesk-MediumLegacy';
  src: font-url('HKGrotesk-MediumLegacy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-MediumLegacy';
  src: font-url('HKGrotesk-MediumLegacy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  font-url('icomoon.eot?yd1vww');
  src:  font-url('icomoon.eot?yd1vww#iefix') format('embedded-opentype'),
    font-url('icomoon.ttf?yd1vww') format('truetype'),
    font-url('icomoon.woff?yd1vww') format('woff'),
    font-url('icomoon.svg?yd1vww#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icona-"],  [class*="icona-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icona-lupa:before {
  content: "\e900";
}

.icona-papel:before {
  content: "\e901";
}

.icona-dedo:before {
  content: "\e902";
}

.icona-libro:before {
  content: "\e903";
}

.icona-calendario:before {
  content: "\e904";
}

.icona-salvavidas:before {
  content: "\e905";
}
