<style media="screen">
  a.btn {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    text-decoration: none;
    padding: 4px;
    border-color: #3a2e2e;
    background: #5e2e8a;
    color: white;
    font-size: larger;
    /* border: 15px; */
    border-radius: 2%;
  }

  i#unlike {
      color: cadetblue;
      font-size: -webkit-xxx-large;
  }

  i#like {
      color: darkgray;
      font-size: -webkit-xxx-large;
  }

 #center_hand{
   text-align: -webkit-center;
 }

</style>
<% if @investment.present? %>
  <% investment = @investment %>
<% end %>
<div class="div-container" id="center_hand">
<h3><%= Like.where(investment_id: investment.id).count %></h3>
<% if user_signed_in? && current_user.likes?(investment) %>
  <%= link_to '<i class="fa fa-thumbs-up" id="unlike"></i>'.html_safe,
      budget_investment_like_path(investment.budget_id, investment),
      method: :delete,
      remote: true,
      class: "" %>
<% elsif  user_signed_in? %>
  <%= link_to '<i class="fa fa-thumbs-up" id="like"></i>'.html_safe,
      budget_investment_like_path(investment.budget_id, investment),
      method: :post,
      remote: true,
      class: "" %>
<% else %>
<i class="fa fa-thumbs-up" id="like"></i>
  <div class="callout primary margin-top">
    <%= t("budgets.investments.index.sidebar.not_likes_for_you",
          sign_in_likes: link_to(t("budgets.investments.index.sidebar.sign_in_likes"), new_user_session_path),
          sign_up_likes: link_to(t("budgets.investments.index.sidebar.sign_up_likes"), new_user_registration_path)).html_safe %>
  </div>
<% end %>
</div>
