<div class="sidebar-divider"></div>
<h2 class="sidebar-title">Sectores</h2>
<br>

<ul id="sectors" class="no-bullet categories">
  <li class="inline-block">
    <%= link_to "Todo el municipio",
                investments_path,
                { class: (not params[:heading_id]) ? 'is-active' : '' } %>
  </li>
  <% @sectors.each do |sector| %>
    <li class="inline-block">
      <%= link_to sector.name,
                  budget_investments_path(@budget, heading_id: sector),
                  { class: (params[:heading_id] == sector.id.to_s) ? 'is-active' : '' } %>
    </li>
  <% end %>
</ul>
