<div class="budget-investment-new row">
  <div class="small-12 medium-9 column">
    <h1><%= t("management.budget_investments.create") %></h1>
    <!-- <h4>Explica tu idea con frases correctamente construidas
      (sujeto, verbo, predicado). Es aconsejable que seas breve
      para conseguir que los usuarios de Decide San Pedro lean tu
      proyecto por completo y
      <span style="color:red">ten cuidado con las faltas de ortografía,
        una vez creado el proyecto no se puede editar. </span>.
        No hace falta que uses palabras muy técnicas ni que estimes su valor,
        ya que es el personal técnico municipal es el que lo calcula.</h4> -->
    <%= render '/budgets/investments/form', form_url: budget_investments_path(@budget) %>
  </div>
</div>
