<table cellpadding="0" cellspacing="0" border="0" style="background: #fff; margin: 0 auto; max-width: 700px; width:100%;">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
        <tr>
          <td style="border-bottom: 1px solid #dadfe1; padding: 20px 0; width:50%">
            <a href="#" target="_blank">
              <%= image_tag("#{ActionMailer::Base.default_url_options[:host]}:#{ActionMailer::Base.default_url_options[:port]}/logo-sp.png", alt: "." ,size: "300x69") %>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
