<style>
  @media only screen and (max-width: 768px) {
    img#logo-nav {
      max-height: 50px;
      max-width: 100%;
      width: auto;
      height: auto;
    }

    a.nav-link {
      color: black;
      font-size: large;
      padding: initial
    }
  }
</style>

<head>
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="/portal/css/aquamarine.css">
  <link rel="stylesheet" media="(max-width: 600px)" href="/portal/css/mobile.css" />
  <script src="/portal/js/bootstrap.min.js"></script>
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="/portal/js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="/portal/js/animate-in.js"></script>

</head>

<body class="text-center">
  <nav id=header class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark justify-content-between">
    <div class="navbar-header">
      <%= link_to root_path, accesskey: "0" do %>
        <%= image_tag(image_path_for('logo_header.png'), id: 'logo-nav', class: 'float-left', alt: t("layouts.header.logo")) %>
      <% end %>
    </div>
    <div>
      <button class="btn navbar-btn ml-md-2 btn-light text-dark rounded-0" type="button">
        <%= link_to t("devise_views.menu.login_items.login"),
                    new_user_session_path, rel: "nofollow", class: 'nav-link' %>
      </button>
    </div>
  </nav>
</body>
